.button {
    margin: 1%;
}

.nameAndData{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.ZaraImage{
    width: 40vw;
    height: 40vh;
    margin-bottom: 2vh;
}

.dataGrid{
    background-size: cover;
    background-color: white;
    filter: drop-shadow(0px 0px 5px rgb(116, 116, 116));
}

@media screen and (min-width: 700px){
    .dataGrid{
        width: 50vw;
    }
}

@media screen and (max-width: 700px){
    .dataGrid{
        width: 90vw;
    }
    
}