html, body {
    overflow: hidden;
}

.button {
    margin: 1%;
}

.nameAndData{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.ZaraImage{
    width: 40vw;
    height: 40vh;
    margin-bottom: 2vh;
}

.dataGrid{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../assets/zarashop.png');
    background-size: cover;
    width: 40vw;
    background-color: white;
    filter: drop-shadow(0px 0px 5px rgb(116, 116, 116));
}