body {
    overflow-y: hidden;
}
.countryGraphBox {
    overflow-y: hidden;
    display: grid;
    grid: auto-flow / 1fr 1fr;
    float: left;
    border-right: 2px solid darkred;
    width: 40vw;
    height: 85vh;
}

.countryGraphInclTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30vh;
}

.countryCityBox {
    overflow-y: auto;
    display: grid;
    grid: auto-flow / 1fr 1fr;
    float: right;
    width: 54vw;
    max-height: 80vh;
}

.graph {
    background-color: lightgrey;
    text-align: center;
    margin: 50px 0 0 35px;
    width: 300px;
    height: 300px;
}

@media only screen and (max-width: 900px){
    body {
        overflow-y: scroll;
    }
    .countryGraphBox {
        float: none;
        width: 100vw;
    }

    .countryCityBox {
        float: none;
        width: 100vw;
    }
}