.filterBar {
    border-bottom: 2px solid black;
    padding: 10px;
}

.filterTitle {
    font-size: clamp(30px, 2vw, 100px);
    display:inline;
}

.filterInput {
    margin-left: 15px;
    width: 14vw;
}

.filterDropDown {
    margin-left: 15px;
    width: 5vw;
}

.filterButton {
    background-color: #a60000 !important;
    color: white;
    margin-left: 15px;
}
@media only screen and (max-width: 900px){
    .filterBar {
        width: 100vw;
        padding: 8px 2,5vw;
    }
    .filterTitle {
        text-align: center;
        font-size: clamp(20px, 4vw, 30px); 
        display: block; 
        margin-bottom: 8px; 
    }
    .filterInput {
        margin-left: 0;
        margin-top: 8px;
        width: 95%; 
    }
    .filterDropDown {
        margin-left: 0;
        margin-top: 8px; 
        margin-bottom: 8px; 
        width: 95%; 
    }
    .filterButton {
        width: 95%; /* Adjust width to fill the container */
    }
}