.homeContent {
    background-color: rgb(245, 227, 206);
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.adminButton {
    width: 10vw;
    border-radius: 10px;
}

/* Add a condition for when users are on mobile */
@media only screen and (min-width: 1px) {
    .homeContent {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .adminButton {
        width: 100vw;
    }
}

@media only screen and (min-width: 768px){
    .homeContent {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .adminButton{
        width: 10vw;
    }
}